.nav-wrapper {
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;

    .back-wrapper {
        position: absolute;
        top: 10px;
        left: 5px;

        a {
            text-decoration: none;
            
            span {
                font-family: "Roboto";
                font-size: 12px;
            }
        }
    }

    span {
        font-family: "Roboto";
        font-size: 40px;

        @media screen and (max-width: 600px) {
            font-size: 20px;
        }
    }
}