.test-container {
    padding: 20px;

    .test-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-family: "Roboto";
        }
        
        img {
            max-width: 500px;

            @media screen and (max-width: 600px) {
                max-width: 300px;
            }
        }
    }
}